
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #B22222;
}

.button1:hover {
  background-color: #2F4F4F;
  color: black;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #87CEFA;
}

.button2:hover {
  background-color: #00FF7F;
  color: #2F4F4F;
}
.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #FF00FF;
}

.button3:hover {
  background-color: #FFDEAD;
  color: black;
}

.button4 {
  background-color: white; 
  color: black; 
  border: 2px solid #90EE90;
}

.button4:hover {
  background-color:#00008B;
  color:Black;
}

.button5 {
  background-color: white; 
  color: black; 
  border: 2px solid #E6E6FA;
}

.button5:hover {
  background-color:#B0E0E6;
  color: black;
}

.button6 {
  background-color: white; 
  color: black; 
  border: 2px solid #006400;
}

.button6:hover {
  background-color:#FF6347;
  color:Black;
}
.button7 {
  background-color: white; 
  color: black; 
  border: 2px solid #D8BFD8;
}

.button7:hover {
  background-color: #B0E0E6;
  color: black;
}

.button8 {
  background-color: white; 
  color: black; 
  border: 2px solid #A52A2A;
}

.button8:hover {
  background-color:#EEE8AA;
  color:Black;
}

.button9 {
  background-color: white; 
  color: black; 
  border: 2px solid #000000;
}

.button9:hover {
  background-color: #363636;
  color: black;
}

.button10 {
  background-color: white; 
  color: black; 
  border: 2px solid #FA8072;
}

.button10:hover {
  background-color:	#FFE4E1;
  color:Black;
}
.button11 {
  background-color: black; 
  color: black; 
  border: 2px solid black;
}

.button11:hover {
  background-color: #1C1C1C;
  color: #DCDCDC;
}
